<form
  autocomplete="off"
  [formGroup]="loginForm"
  (ngSubmit)="login()"
  class="login-body"
>
  <shared-form-input
    controlName="email"
    formControlName="email"
    formType="text"
    iconClass="fa-envelope"
    inputType="input"
    label="Correo"
  >
    <shared-show-error-form [control]="email" />
  </shared-form-input>

  <shared-form-input
    controlName="password"
    formControlName="password"
    formType="password"
    iconClass="fa-lock"
    inputType="input"
    label="Contraseña"
  >
    <shared-show-error-form [control]="password" />
  </shared-form-input>

  <p>Perfil:</p>
  <div class="form-check">
    <input
      class="form-check-input"
      [value]="Role.OWNER"
      formControlName="role"
      type="radio"
      name="role"
      id="owner"
    />
    <label
      class="form-check-label"
      for="owner"
    >
      Dueño del apartamento
    </label>
  </div>

  <div class="form-check">
    <input
      class="form-check-input"
      [value]="Role.ADMIN"
      formControlName="role"
      type="radio"
      name="role"
      id="admin"
      checked
    />
    <label
      class="form-check-label"
      for="admin"
    >
      Administrador de la unidad
    </label>
  </div>
  <button
    type="submit"
    class="btn btn-primary mt-3"
    [disabled]="loginForm.invalid"
  >
    Login
  </button>
</form>
