<div class="modal-header">
  <h2 class="modal-title text-primary">{{ modalTitle }}</h2>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.close()"></button>
</div>
<div class="modal-body margin-form">
  <form [formGroup]="form">
    <shared-form-input
      controlName="name"
      formControlName="name"
      formType="text"
      iconClass="fa-user"
      inputType="input"
      label="Nombre"
    >
      <shared-show-error-form [control]="name"/>
    </shared-form-input>

    <shared-form-input
      controlName="lastname"
      formControlName="lastname"
      formType="text"
      iconClass="fa-user"
      inputType="input"
      label="Apellido"
    >
      <shared-show-error-form [control]="lastname"/>
    </shared-form-input>

    <div class="input-group has-validation mb-3">
      <span class="input-group-text"><i class="fa-solid fa-passport"></i></span>
      <div class="form-floating">
        <select data-testid="documentType" class="form-select" [ngClass]="{'is-invalid': documentType?.invalid}"
                id="documentType" formControlName="documentType">
          <option value="" selected>Selecciona un tipo de documento</option>
          @for (documentTypeEnum of documentationTypeList; track documentTypeEnum) {
            <option [value]="documentTypeEnum">{{ DocumentTypeMapping[documentTypeEnum] }}</option>
          }
        </select>
        <label for="documentType" class="form-label">Tipo de Documento <span
          class="text-danger fw-bold">*</span></label>
      </div>
      <shared-show-error-form [control]="documentType"/>
    </div>

    <shared-form-input
      controlName="document"
      formControlName="document"
      formType="text"
      iconClass="fa-passport"
      inputType="input"
      label="Documento"
    >
      <shared-show-error-form [control]="document" [errorLimits]="documentLengthRange"/>
    </shared-form-input>

    <shared-form-input
      controlName="phone"
      formControlName="phone"
      formType="text"
      iconClass="fa-phone"
      inputType="input"
      label="Celular"
    >
      <shared-show-error-form [control]="phone" [errorLimits]="{length: 10}"/>
    </shared-form-input>

    <shared-form-input
      controlName="email"
      formControlName="email"
      formType="email"
      iconClass="fa-envelope"
      inputType="input"
      label="Celular"
    >
      <shared-show-error-form [control]="email"/>
    </shared-form-input>

    <shared-form-input
      controlName="password"
      formControlName="password"
      formType="password"
      iconClass="fa-lock"
      inputType="input"
      label="Contraseña"
    >
      <shared-show-error-form [control]="password"/>
    </shared-form-input>

    <shared-form-input
      controlName="tower"
      formControlName="tower"
      formType="text"
      iconClass="fa-building"
      inputType="input"
      label="Torre"
    >
      <shared-show-error-form [control]="tower"/>
    </shared-form-input>

    <shared-form-input
      controlName="building"
      formControlName="building"
      formType="text"
      iconClass="fa-building-user"
      inputType="input"
      label="Apartamento"
    >
      <shared-show-error-form [control]="building"/>
    </shared-form-input>

  </form>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-primary" (click)="onSave()" [disabled]="form.invalid">
    Guardar
  </button>
</div>
