<div class="modal-header">
  <h4 class="modal-title">{{ modalTitle }}</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.close()"></button>
</div>
<div class="modal-body mb-3">
  <form [formGroup]="managerForm">
    <div class="mb-3">
      <label for="name" class="form-label">Nombre <span class="text-danger">*</span></label>
      <input data-testid="name" type="text" class="form-control" id="name" formControlName="name">
      <shared-show-error-form [control]="name"/>
    </div>
    <div class="mb-3">
      <label for="lastname" class="form-label">Apellido <span class="text-danger">*</span></label>
      <input data-testid="lastname" type="text" class="form-control" id="lastname" formControlName="lastname">
      <shared-show-error-form [control]="lastname"/>
    </div>
    <div class="mb-3">
      <label for="documentType" class="form-label">Tipo de Documento <span class="text-danger">*</span></label>
      <select data-testid="documentType" class="form-control" id="documentType" formControlName="documentType">
        <option value="" selected>Selecciona un tipo de documento</option>
        @for (documentTypeEnum of documentationTypeList; track documentTypeEnum) {
          <option [value]="documentTypeEnum">{{ DocumentTypeMapping[documentTypeEnum] }}</option>
        }
      </select>
      <shared-show-error-form [control]="documentType"/>
    </div>
    <div class="mb-3">
      <label for="document" class="form-label">Documento <span class="text-danger">*</span></label>
      <input data-testid="document" type="text" class="form-control" id="document" formControlName="document">
      <shared-show-error-form [control]="document" [errorLimits]="documentLengthRange"/>
    </div>
    <div class="mb-3">
      <label for="phone" class="form-label">Celular <span class="text-danger">*</span></label>
      <input data-testid="phone" type="text" class="form-control" id="phone" formControlName="phone">
      <shared-show-error-form [control]="phone" [errorLimits]="{length: 10}" />
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email <span class="text-danger">*</span></label>
      <input data-testid="email" type="email" class="form-control" id="email" formControlName="email">
      <shared-show-error-form [control]="email"/>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Contraseña <span class="text-danger">*</span></label>
      <input data-testid="password" type="password" class="form-control" id="password" formControlName="password">
      <shared-show-error-form [control]="password" [errorLimits]="{min: 8}"/>
    </div>
    <div class="mb-3">
      <label for="tower" class="form-label">Torre <span class="text-danger">*</span></label>
      <input data-testid="tower" type="text" class="form-control" id="tower" formControlName="tower">
      <shared-show-error-form [control]="tower"/>
    </div>
    <div class="mb-3">
      <label for="building" class="form-label">Apartamento <span class="text-danger">*</span></label>
      <input data-testid="building" type="text" class="form-control" id="building" formControlName="building">
      <shared-show-error-form [control]="building"/>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" [disabled]="managerForm.invalid" (click)="onSave()">
    Guardar
  </button>
</div>
