<div class="modal-header">
  <h2 class="modal-title text-primary">{{ modalTitle }}</h2>
  <button
    (click)="activeModal.close()"
    aria-label="Close"
    class="btn-close"
    type="button"
  ></button>
</div>
<div class="modal-body margin-form">
  <form
    [formGroup]="form"
    autocomplete="off"
  >
    <shared-form-input
      controlName="name"
      formControlName="name"
      formType="text"
      iconClass="fa-user"
      inputType="input"
      label="Nombre"
    >
      <shared-show-error-form [control]="name" />
    </shared-form-input>

    <shared-form-input
      controlName="lastname"
      formControlName="lastname"
      formType="text"
      iconClass="fa-user"
      inputType="input"
      label="Apellido"
    >
      <shared-show-error-form [control]="lastname" />
    </shared-form-input>

    <shared-form-input
      [options]="documentTypeList"
      controlName="documentType"
      formControlName="documentType"
      iconClass="fa-passport"
      inputType="select"
      label="Tipo de documento"
    >
      <shared-show-error-form [control]="documentType" />
    </shared-form-input>

    <shared-form-input
      controlName="document"
      formControlName="document"
      formType="text"
      iconClass="fa-passport"
      inputType="input"
      label="Documento"
    >
      <shared-show-error-form
        [control]="document"
        [errorLimits]="documentLengthRange"
      />
    </shared-form-input>

    <shared-form-input
      controlName="email"
      formControlName="email"
      formType="email"
      iconClass="fa-envelope"
      inputType="input"
      label="Correo"
    >
      <shared-show-error-form [control]="email" />
    </shared-form-input>

    <shared-form-input
      controlName="password"
      formControlName="password"
      formType="password"
      iconClass="fa-lock"
      inputType="input"
      label="Password"
    >
      <shared-show-error-form [control]="password" />
    </shared-form-input>

    <shared-form-input
      controlName="phone"
      formControlName="phone"
      iconClass="fa-phone"
      inputType="input"
      label="Celular"
    >
      <shared-show-error-form
        [control]="phone"
        [errorLimits]="{ length: 10 }"
      />
    </shared-form-input>

    <shared-form-input
      controlName="tower"
      formControlName="tower"
      formType="text"
      iconClass="fa-building"
      inputType="input"
      label="Torre"
    >
      <shared-show-error-form [control]="tower" />
    </shared-form-input>

    <shared-form-input
      controlName="apartment"
      formControlName="apartment"
      formType="text"
      iconClass="fa-building-user"
      inputType="input"
      label="Apartamento"
    >
      <shared-show-error-form [control]="apartment" />
    </shared-form-input>

    <shared-form-input
      controlName="plate"
      formControlName="plate"
      iconClass="fa-car-side"
      inputType="input"
      label="Placa"
    >
      <shared-show-error-form [control]="plate" />
    </shared-form-input>

    <shared-form-input
      controlName="vehicleType"
      formControlName="vehicleType"
      iconClass="fa-car-side"
      inputType="input"
      label="Tipo de vehiculo"
    >
      <shared-show-error-form [control]="vehicleType" />
    </shared-form-input>
  </form>
</div>

<div class="modal-footer">
  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="form.invalid"
    (click)="onSave()"
  >
    Guardar
  </button>
</div>
