<div class="modal-header">
  <h4 class="modal-title">{{ modalTitle }}</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.close()"></button>
</div>
<div class="modal-body mb-3">
  <form [formGroup]="manager">
    <div class="mb-3">
      <label for="name" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="name" formControlName="name">
      @if (name?.hasError('required') && name?.dirty) {
        <div class="text-danger">
          <small>El nombre es requerido</small>
        </div>
      } @else if (name?.hasError('pattern')) {
        <div class="text-danger">
          <small>Solo puede ingresar letras</small>
        </div>
      }
    </div>
    <div class="mb-3">
      <label for="lastname" class="form-label">Apellido</label>
      <input type="text" class="form-control" id="lastname" formControlName="lastname">
      @if (lastname?.hasError('required')) {
        <div class="text-danger">
          <small>El apellido es requerido</small>
        </div>
      } @else if (lastname?.hasError('pattern')) {
        <div class="text-danger">
          <small>Solo puede ingresar letras</small>
        </div>
      }
    </div>
    <div class="mb-3">
      <label for="document_type" class="form-label">Tipo de Documento</label>
      <select class="form-control" id="document_type" formControlName="document_type">
        <option selected>Selecciona un tipo de documento</option>
        <option value="cc">Cédula de ciudadanía</option>
        <option value="cedulaExtranjeria">Cédula de extranjería</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="document" class="form-label">Documento</label>
      <input type="text" class="form-control" id="document" formControlName="document">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Contraseña</label>
      <input type="password" class="form-control" id="password" formControlName="password">
    </div>
    <div class="mb-3">
      <label for="tower" class="form-label">Torre</label>
      <input type="text" class="form-control" id="tower" formControlName="tower">
    </div>
    <div class="mb-3">
      <label for="building" class="form-label">Apartamento</label>
      <input type="text" class="form-control" id="building" formControlName="building">
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="onSave()">
    Guardar
  </button>
</div>
